:root {
	--light-text-color: #1a202c;
	--dark-text-color: #f8fafc;
	--header-color: #f6c915;
	--shadow-color: rgba(246, 201, 21, 0.05);
	--dark-bg: #020617;
	--light-bg: #f8fafc;
	--hover-dark-bg: #0f172a;
	--hover-light-bg: #e2e8f0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text-color: var(--dark-text-color);
		--bg-color: var(--dark-bg);
		--hover-bg: var(--hover-dark-bg);
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--text-color: var(--light-text-color);
		--bg-color: var(--light-bg);
		--hover-bg: var(--hover-light-bg);
	}
}

#feedback-root {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.feedback-wrapper {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	right: 0;
	margin: 2rem;
	width: 100%;
	max-width: 20rem;
}

.feedback-main {
	background-color: var(--hover-bg);
	color: var(--text-color);
	border-radius: 0.6rem;
	text-align: center;
	overflow: hidden;
	box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -2px var(--shadow-color);
}

.feedback-header {
	color: var(--header-color);
	background-color: var(--bg-color);
	padding: 0.8rem 1.25rem;
}

.feedback-header p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-weight: 600;
	font-size: 1.2rem;
}

.feedback-header a {
	margin: 0.5rem 0 0 0;
	outline: 0;
	font-size: 1rem;
	display: block;
	color: var(--header-color);
	border: 2px solid var(--bg-color);
	text-decoration: none;
	padding: 5px 10px
}

.feedback-header a:hover {
	text-decoration: underline;
}

.feedback-header a:focus {
	border: 2px solid var(--header-color);
	border-radius: 5px;
}

.feedback-content {
	padding: 0.7rem 1.5rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.feedback-content p {
	margin: 0;
	font-size: 1rem;
	font-weight: 600;
	margin-top: 0.5rem;
	margin-bottom: 0.6rem;
}

.feedback-content input {
	border: 2px solid var(--header-color);
	filter: brightness(95%);
	border-radius: 10px;
	outline: 0;
	padding: 10px;
	margin-bottom: 0.5rem;
	width: 100%;
	box-sizing: border-box;
	font-size: 1rem;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.feedback-content textarea {
	overflow: auto;
	border: 2px solid var(--header-color);
	filter: brightness(95%);
	border-radius: 10px;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	resize: none;
	font-size: 1rem;
	background-color: var(--bg-color) !important;
	color: var(--text-color) !important;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

.feedback-content textarea:focus,
.feedback-content input:focus {
	border: 2px solid var(--bg-color);
}

.feedback-actions {
	display: flex;
	margin-top: 1rem;
	width: 100%;
}

.feedback-actions button {
	padding: 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	margin: 0;
	outline: 0;
	border: 2px solid var(--header-color);
	appearance: none;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
	user-select: none;
	box-shadow: 0 1px 3px 0 var(--shadow-color);
}

.feedback-actions button:focus {
	border: 2px solid var(--bg-color);
	filter: brightness(105%);
}

.feedback-actions button:active {
	transform: scale(0.95);
}

#feedback-back {
	background: var(--header-color);
	color: var(--bg-color);
}

#feedback-submit {
	margin-left: auto;
	background: var(--bg-color);
	color: var(--header-color);
	font-weight: 700;
}

#feedback-submit:hover, #feedback-submit:focus,
#feedback-back:hover, #feedback-back:focus {
	border-color: var(--header-color) !important;
}

#feedback-loading {
	margin-left: auto;
	background: var(--bg-color);
	color: var(--header-color);
	font-weight: 700;
}

.feedback-loader {
	display: inline-block;
	position: relative;
	width: 15px;
	height: 15px;
	margin-right: 1rem;
}

.feedback-loader div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	margin: 0;
	border: 2px solid var(--header-color);
	border-radius: 50%;
	animation: feedback-loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: var(--header-color) transparent transparent transparent;
}

.feedback-loader div:nth-child(1) {
	animation-delay: -0.45s;
}

.feedback-loader div:nth-child(2) {
	animation-delay: -0.3s;
}

.feedback-loader div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes feedback-loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.feedback-content-list {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
}

.feedback-item {
	width: 100% !important;
	cursor: pointer;
	user-select: none;
	outline: 0;
	background: 0;
	font-size: 0.9rem;
	text-align: left;
	display: flex;
	align-items: center;
	flex-direction: row;
	color: var(--text-color) !important;
	background-color: var(--bg-color) !important;
	box-sizing: border-box;
	border: 2px solid var(--hover-bg) !important;
	border-radius: 10px !important;
	padding: 10px !important;
}

.feedback-item:hover {
	border: 2px solid var(--header-color) !important;
}

.feedback-item:focus {
	border: 2px solid var(--header-color);
	border-radius: 5px;
}

.feedback-item span {
	width: 1.5rem;
	margin-right: 0.2rem;
	display: block;
	text-align: center;
}

.feedback-close {
	margin-top: .75rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-direction: row;
}

.feedback-close button {
	box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -2px var(--shadow-color);
	cursor: pointer;
	user-select: none;
	outline: 0;
	border-radius: 9999px;
	padding: .5rem;
	background: var(--bg-color);
	color: var(--header-color);
	border: 2px solid var(--bg-color);
}

.feedback-close button:focus {
	border: 2px solid var(--header-color);
	border-color: var(--header-color) !important;
}

.feedback-close button:hover {
	border-color: var(--header-color) !important;
	background: var(--hover-bg);
}

.feedback-close button:active {
	border-color: var(--header-color) !important;
	color: var(--header-color) !important;
	transform: scale(0.95);
}

.feedback-close svg {
	display: block;
	width: 1.25rem;
	height: 1.25rem;
}

.feedback-btn-wrapper {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	right: 0;
	margin: 2rem;
}

#feedback-btn {
	height: 30px;
	display: flex;
	align-items: center;
	padding: 1.2rem 0.7rem;
	border-radius: 0.6rem;
	cursor: pointer;
	box-shadow: 0 10px 15px -3px var(--shadow-color), 0 4px 6px -2px var(--shadow-color);
	user-select: none;
	outline: 0;
	color: var(--header-color);
	background-color: var(--bg-color);
	border: 2px solid var(--header-color);
	transition: filter .4s ease;
}

#feedback-btn img {
	margin-right: 0.5em;
}

#feedback-btn:hover, #feedback-btn:focus {
	filter: brightness(105%);
}

#feedback-btn:active {
	transform: scale(0.95);
}

#feedback-btn svg {
	display: none;
}

#feedback-btn span {
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	font-size: 1rem;
}
