# add the following line to your /etc/hosts file
#  127.0.0.1 nextcloud.local
#  127.0.0.1 onlyoffice.local
#  127.0.0.1 hejbit.local
#  127.0.0.1 api.hejbit.local
#  127.0.0.1 adminer.hejbit.local

services:

  web:
    build: ./docker/web
    restart: unless-stopped
    volumes_from:
      - nextcloud
    depends_on:
      nextcloud:
        condition: service_started
      proxy:
        condition: service_healthy
    labels:
      caddy: ${APP_URL:-localhost}, nextcloud.local
      caddy.reverse_proxy: '{{upstreams 80}}'
    networks:
      - frontend
      - proxy

  nextcloud:
    build:
      context: ./docker/nextcloud
      dockerfile: Dockerfile
      args:
        NC_VERSION: ${NC_VERSION:-31}
      target: ${ENV:-development}
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    env_file:
      - .env
    environment:
      POSTGRES_HOST: postgres:5432
      REDIS_HOST: redis
    networks:
      - frontend
      - backend
    extra_hosts:
      - host.docker.internal:host-gateway
      - onlyoffice.local:host-gateway
      - hejbit.local:host-gateway
      - api.hejbit.local:host-gateway
    volumes:
      - nc-app:/var/www/html
      - ./:/var/www/html/custom_apps/files_external_ethswarm

  cron:
    image: nextcloud:${NC_VERSION:-31}-fpm-alpine
    restart: always
    volumes:
      - nc-app:/var/www/html
    entrypoint: /cron.sh
    environment:
      POSTGRES_HOST: postgres:5432
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      nextcloud:
        condition: service_started
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - backend

  redis:
    image: redis:alpine
    #    ports:
    #      - '6379:6379'
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      start_period: 3s
      timeout: 5s
      interval: 30s
    networks:
      - backend

  postgres:
    image: postgres:alpine
    restart: unless-stopped
    #    ports:
    #      - '5432:5432'
    env_file:
      - .env
    volumes:
      - nc-db:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB}", "-U", "${POSTGRES_USER}" ]
      start_period: 3s
      timeout: 5s
      interval: 30s
    networks:
      - backend

  adminer: # visit https://adminer.hejbit.local/?pgsql=postgres&username=swarmbox&db=swarmbox
    image: adminer:latest
    restart: unless-stopped
    #    ports:
    #      - '8080:8080'
    networks:
      - backend
      - proxy

    depends_on:
      postgres:
        condition: service_healthy
      proxy:
        condition: service_healthy
    labels:
      caddy: adminer.hejbit.local
      caddy.reverse_proxy: '{{upstreams 8080}}'
    environment:
      ADMINER_DEFAULT_SERVER: postgres

  rsync:
    build:
      context: ./docker/rsync
      dockerfile: Dockerfile
    restart: unless-stopped
    cpu_shares: 512
    mem_limit: 256m
    volumes:
      - nc-app:/app:ro
      - ./dev-environment/nextcloud_source:/source
    environment:
      - RSYNC_CRONTAB=crontab
    depends_on:
      - nextcloud
    networks:
      - backend

  onlyoffice:
    image: onlyoffice/documentserver
    environment:
      JWT_ENABLED: true
      JWT_SECRET: secret
      JWT_HEADER: AuthorizationJwt
      JWT_IN_BODY: true
      USE_UNAUTHORIZED_STORAGE: true
    restart: unless-stopped
    volumes:
      - onlyoffice_data:/var/www/onlyoffice/Data
      - onlyoffice_db:/var/lib/postgresql
      - onlyoffice_lib:/var/lib/onlyoffice
      - onlyoffice_logs:/var/log/onlyoffice
    extra_hosts:
      - nextcloud.local:host-gateway
    networks:
      - backend
      - proxy
    labels:
      caddy: onlyoffice.local
      caddy.reverse_proxy: '{{upstreams 80}}'
    depends_on:
      proxy:
        condition: service_healthy
    profiles:
      - onlyoffice

  proxy:
    image: lucaslorentz/caddy-docker-proxy:alpine
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      CADDY_INGRESS_NETWORKS: hejbit-network
    networks:
      - proxy
    healthcheck:
      test: [ "CMD", "curl", "--fail", "http://localhost:2019/reverse_proxy/upstreams" ]
      timeout: 30s
      retries: 3
      start_period: 10s

volumes:
  nc-app:
  nc-db:
  caddy_data:
  caddy_config:
  onlyoffice_data:
  onlyoffice_db:
  onlyoffice_lib:
  onlyoffice_logs:

networks:
  frontend:
  backend:
  proxy:
    name: hejbit-network
